@model Association

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">Products</a> | <a href="/Catagory">Categories</a></h1>
    <h2>@ViewBag.this_catagory.Name</h2>
    <table class="table col-sm-- mx-auto">
        <thead>
            <tr>
                <th scope="col"><h3><u>Products:</u></h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Product product in @ViewBag.UsedProducts)
            {
                <tr>
                    <td>@product.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <form class="form-group" asp-action="" asp-controller="Home" method="POST">
        <div class="form-group">
            <select asp-for="ProductId" class="form-control my-5">
                @foreach(var item in ViewBag.UnusedProducts)
                {
                    <option value="@item.ProductId">@item.Name</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>

    
</body>
</html>